/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  text-align: right;
}

.header-img {
  width: 100%;
}

.more-info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}

.wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.add-item-input, .item-label, .item-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.add-item{
  margin: 16px 0;
}

.add-item-inner {
  display: flex;
}

.todo-list, .completed-list {
  margin: 0;
  padding: 0px;
}

.todo-list, .completed-list,
.todo-title, .completed-title{
  list-style: none;
}

.add-item-input, .item-checkbox, .item-input,
.add-item-button, .button-edit, .button-delete {
  outline: none;
}

.add-item-button, .button-edit, .button-delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.add-item-button:hover, .button-edit:hover, .button-delete:hover {
  color: #3a3A3a;
}

/* Heading */
.add-item-title, .todo-title, .completed-title{
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.add-item-input, .item-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.add-item-input:focus, .item-input:focus {
  color: #333;
}

/* New Task */
.add-item-title {
  display: block;
  margin: 0 0 20px;
}

.add-item-input {
  width: 318px;
}

/* Task list */
.item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-checkbox, .item-label, .item-input, .button-edit, .button-delete {
  vertical-align: middle;
}

.item-checkbox {
  margin: 0 10px;
}

.item-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.item-input {
  width: 226px
}

.button-delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button-delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-list .item-label {
  text-decoration: line-through color: #888;
}

/* Edit Task */
.item-input {
  display: none
}

.item-edit .item-input {
  display: inline-block;
  width: 224px
}

.item-edit .item-label {
  display: none;
}